In [1]:
import pandas as pd
print (pd.__version__)

1.2.4

In [2]:
#2

import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [3]:
pd.Series(mylist)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [4]:
pd.Series(myarr)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

In [5]:
pd.Series(mydict)

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [6]:
#3

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [7]:
mydict

{'a': 0,
 'b': 1,
 'c': 2,
 'e': 3,
 'd': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9,
 'k': 10,
 'l': 11,
 'm': 12,
 'n': 13,
 'o': 14,
 'p': 15,
 'q': 16,
 'r': 17,
 's': 18,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

In [8]:
ser

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [9]:
# .to_frame   make it into a DataFrame

# .reset_index() will make the index of the series into index

df= ser.to_frame().reset_index()
df

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

In [10]:
#4.

import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [11]:
pd.concat([ser1, ser2], axis=1)

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

In [12]:
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

In [13]:
#5 

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz')).rename('alphabets', inplace=True)

In [14]:
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

In [15]:
#6

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [16]:
list(ser1)

[1, 2, 3, 4, 5]

In [17]:
list(ser2)

[4, 5, 6, 7, 8]

In [18]:
ser3= list(ser1) + list(ser2)

In [19]:
ser3

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [20]:
ser3= pd.Series(ser3)
ser3

0    1
1    2
2    3
3    4
4    5
5    4
6    5
7    6
8    7
9    8
dtype: int64

In [21]:
ser3.drop_duplicates()

0    1
1    2
2    3
3    4
4    5
7    6
8    7
9    8
dtype: int64

In [22]:
# beautiful code. Look at .isin()

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [23]:
#7

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [24]:
ser123 = ser1[~ser1. isin(ser2)]
ser123

0    1
1    2
2    3
dtype: int64

In [25]:
ser456= ser2[~ser2. isin(ser1)]
ser456

2    6
3    7
4    8
dtype: int64

In [26]:
pd.concat([ser123, ser456])

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

In [27]:
# alternate way..... np.union1d(ser1, ser2) to unite 2 series
#              ..... np.intersect1d(ser1, ser2) to find intersection of 2 series

In [28]:
serunion= pd.Series(np.union1d (ser123, ser456))

In [29]:
serintersect= pd.Series(np.intersect1d (ser123, ser456))

In [30]:
serunion[~serunion. isin(serintersect) ]

0    1
1    2
2    3
3    6
4    7
5    8
dtype: int64

In [31]:
#8

ser = pd.Series(np.random.normal(10, 5, 25))
ser.describe()

count    25.000000
mean      9.909340
std       5.547035
min      -1.067870
25%       4.813146
50%      10.012295
75%      13.502967
max      23.183522
dtype: float64

In [32]:
# frequency counts of unique items 

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

h    5
e    4
c    4
d    4
f    4
a    3
b    3
g    3
dtype: int64

In [33]:
#9. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

0     3
1     1
2     1
3     2
4     4
5     1
6     2
7     1
8     3
9     2
10    1
11    3
dtype: int32

In [34]:
L=[n for n in ser if (n!=4 in ser)]

for n in L:
    print(n, end=' ')

3 1 1 2 1 2 1 3 2 1 3

In [35]:
ser.value_counts().sort_values(ascending=False)

1    5
2    3
3    3
4    1
dtype: int64

In [36]:
ser [~ser .isin (ser.value_counts().index[1:])] = 'other'
ser

0         3
1     other
2     other
3         2
4         4
5     other
6         2
7     other
8         3
9         2
10    other
11        3
dtype: object

In [37]:
#10

In [38]:
ser = pd.Series(np.random.random(20))
ser.head()

0    0.865629
1    0.475885
2    0.901602
3    0.027647
4    0.001161
dtype: float64

In [39]:
pd.qcut(ser, q=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1],
       labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'])

0      8th
1      5th
2      9th
3      2nd
4      1st
5      9th
6     10th
7      5th
8      2nd
9      4th
10     6th
11    10th
12     7th
13     7th
14     6th
15     3rd
16     1st
17     3rd
18     8th
19     4th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

In [40]:
#11

In [41]:
ser = pd.Series(np.random.randint(1, 10, 35))
ser

0     2
1     2
2     5
3     7
4     3
5     6
6     7
7     1
8     3
9     9
10    3
11    9
12    4
13    2
14    8
15    2
16    5
17    4
18    4
19    1
20    2
21    5
22    4
23    6
24    3
25    5
26    1
27    5
28    4
29    3
30    3
31    5
32    3
33    6
34    6
dtype: int32

In [42]:
# .values.reshape(7,5)

pd.DataFrame(ser.values.reshape(7,5))

   0  1  2  3  4
0  2  2  5  7  3
1  6  7  1  3  9
2  3  9  4  2  8
3  2  5  4  4  1
4  2  5  4  6  3
5  5  1  5  4  3
6  3  5  3  6  6

In [43]:
#12

In [44]:
ser = pd.Series(np.random.randint(1, 10, 7))
ser

0    7
1    5
2    2
3    3
4    6
5    6
6    9
dtype: int32

In [45]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [46]:
# .take() function

ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [47]:
#13

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [48]:
pd.DataFrame([ser1, ser2])

   0  1  2  3  4
0  0  1  2  3  4
1  a  b  c  d  e

In [49]:
pd.concat([ser1, ser2], axis=1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [50]:
pd.concat([ser1, ser2], axis=0)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [51]:
#14

In [52]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [53]:
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

In [54]:
#15

In [55]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [56]:
np.mean((truth-pred)**2)

0.29184653934776306

In [57]:
#16  How to convert the first character of each element in a series to uppercase?

In [58]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [59]:
ser[0].capitalize()+' '+ ser[1].capitalize()+' '+ ser[2].capitalize()+ ' '+ ser[3].capitalize()

'How To Kick Ass?'

In [60]:
pd.Series(i.capitalize() for i in ser)

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [61]:
pd.Series(i.title() for i in ser)

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [62]:
#17

In [63]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [64]:
len(ser[2])

4

In [65]:
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

In [66]:
#18  How to compute difference of differences between consequtive numbers of a series?

In [67]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

In [68]:
(ser[2]-ser[1]) - (ser[1]-ser[0])

1

In [69]:
# use .diff() and .to_list()

ser.diff().to_list()

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]

In [70]:
ser.diff().diff().to_list()

[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [71]:
#19 How to convert a series of date-strings to a timeseries?

In [72]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [73]:
ser= pd.to_datetime(ser)
ser

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [74]:
#20 How to get the day of month, week number, day of year and day of week from a series of date strings?

In [75]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))

In [76]:
print("Date: ", ser_ts.dt.day.tolist())

Date:  [1, 2, 3, 4, 5, 6]

In [77]:
print("Week number: ", ser_ts.dt.weekofyear.tolist())

Week number:  [53, 5, 9, 14, 19, 23]

<ipython-input-77-b5927a9b48a1>:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  print("Week number: ", ser_ts.dt.weekofyear.tolist())

In [78]:
print("Day number from year: ", ser_ts.dt.dayofyear.tolist())

Day number from year:  [1, 33, 63, 94, 125, 157]

In [79]:
print("Day of week: ", ser_ts.dt.weekday.tolist())

Day of week:  [4, 2, 5, 3, 0, 5]

In [80]:
#21 How to filter words that contain atleast 2 vowels from a series?

In [81]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

In [82]:
from collections import Counter

In [83]:
mask= ser.map(lambda x: sum([Counter (x.lower()).get(i,0) for i in list ('aeiou')]) >=2)

ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

In [84]:
#22 How to filter valid emails from a series?

In [85]:
import re

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

In [86]:
emails.str.findall(pattern, flags=re.IGNORECASE)

0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object

In [87]:
mask=emails.map( lambda x: bool(re.match (pattern, x)))
emails [mask]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

In [88]:
#23 How to get the mean of a series grouped by another series? Compute the mean of weights of each fruit.

In [89]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['apple', 'apple', 'apple', 'banana', 'banana', 'banana', 'carrot', 'banana', 'carrot', 'apple']

In [90]:
weights.groupby(fruit).mean()

apple     4.00
banana    5.75
carrot    8.00
dtype: float64

In [91]:
#24 How to compute the euclidean distance between two series?

In [92]:
P = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
Q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

In [93]:
def Euc(p,q):
    return sum((p-q)**2)**0.5

In [94]:
Euc(P,Q)

18.16590212458495

In [95]:
#25 Replace the spaces in my_str with the least frequent character.

In [96]:
my_str = 'dbc deb abed gade'

In [97]:
# first, make the string into series

my_str= pd.Series(my_str)
my_str

0    dbc deb abed gade
dtype: object

In [98]:
freq= my_str.value_counts()
freq

dbc deb abed gade    1
dtype: int64

In [99]:
least_freq=  freq.dropna().index[-1]

In [100]:
least_freq

'dbc deb abed gade'

In [101]:
"".join(my_str.replace(' ', least_freq))

'dbc deb abed gade'

In [102]:
#26 How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?

In [103]:
ser= pd.Series(np.random.randint(0,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
ser

2000-01-01    2
2000-01-08    2
2000-01-15    7
2000-01-22    3
2000-01-29    9
2000-02-05    2
2000-02-12    0
2000-02-19    9
2000-02-26    2
2000-03-04    6
Freq: W-SAT, dtype: int32

In [104]:
#27 How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?

In [105]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64

In [106]:
ser.values

array([ 1., 10.,  3., nan])

In [107]:
ser.head()

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64

In [108]:
ser.resample('D').ffill()

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

In [109]:
#28

In [110]:
S1=pd.Series([1,2,3,4])
S2=pd.Series([7,8,9,10])
S2.index=[‘a’,’b’,’c’,’d’]
print((S1+S2).count())

SyntaxError: invalid character in identifier (<ipython-input-110-005680dc0570>, line 3)

In [111]:
#29 string concatenation

"I am happy now" + " because I have realized that people don't change and I know I'm the one that can make a positive change for myself"

"I am happy now because I have realized that people don't change and I know I'm the one that can make a positive change for myself"

In [112]:
#30 How to import only every nth row from a csv file to create a dataframe?

# use chunksize

url= 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'

df= pd.read_csv(url, chunksize=10)

In [113]:
df2= pd.DataFrame()
for chunk in df:
    df2= df2.append(chunk.iloc[0,:])
df2

,age,b,chas,crim,dis,indus,lstat,medv,nox,ptratio,rad,rm,tax,zn
0,65.2,396.90,0.0,0.00632,4.0900,2.31,4.98,24.0,0.5380,15.3,1.0,6.575,296.0,18.0
10,94.3,392.52,0.0,0.22489,6.3467,7.87,20.45,15.0,0.5240,15.2,5.0,6.377,311.0,12.5
20,98.1,376.57,0.0,1.25179,3.7979,8.14,21.02,13.6,0.5380,21.0,4.0,5.570,307.0,0.0
30,94.1,360.17,0.0,1.13081,4.2330,8.14,22.60,12.7,0.5380,21.0,4.0,5.713,307.0,0.0
40,15.8,395.62,0.0,0.03359,5.4011,2.95,1.98,34.9,0.4280,18.3,3.0,7.024,252.0,75.0
50,45.7,395.56,0.0,0.08873,6.8147,5.64,13.45,19.7,0.4390,16.8,4.0,5.963,243.0,21.0
60,66.2,395.11,0.0,0.14932,7.2254,5.13,13.15,18.7,0.4530,19.7,8.0,5.741,284.0,25.0
70,6.6,383.73,0.0,0.08826,5.2873,10.81,6.72,24.2,0.4130,19.2,4.0,6.417,305.0,0.0
80,33.5,396.90,0.0,0.04113,5.4007,4.86,5.29,28.0,0.4260,19.0,4.0,6.727,281.0,25.0
90,66.1,392.18,0.0,0.04684,3.0923,3.41,8.81,22.6,0.4890,17.8,2.0,6.417,270.0,0.0
100,79.9,394.76,0.0,0.14866,2.7778,8.56,9.42,27.5,0.5200,20.9,5.0,6.727,384.0,0.0
110,54.4,393.49,0.0,0.10793,2.7778,8.56,13.00,21.7,0.5200,20.9,5.0,6.195,384.0,0.0
120,69.7,389.15,0.0,0.06899,2.2577,25.65,14.37,22.0,0.5810,19.1,2.0,5.870,188.0,0.0
130,98.9,395.04,0.0,0.34006,2.1185,21.89,12.60,19.2,0.6240,21.2,4.0,6.458,437.0,0.0
140,93.6,388.08,0.0,0.29090,1.6119,21.89,24.16,14.0,0.6240,21.2,4.0,6.174,437.0,0.0
150,97.3,372.80,0.0,1.65660,1.6180,19.58,14.10,21.5,0.8710,14.7,5.0,6.122,403.0,0.0
160,92.6,338.92,1.0,1.27346,1.7984,19.58,5.50,27.0,0.6050,14.7,5.0,6.250,403.0,0.0
170,94.6,292.29,0.0,1.20742,2.4259,19.58,14.43,17.4,0.6050,14.7,5.0,5.875,403.0,0.0
180,83.3,395.56,0.0,0.06588,2.7410,2.46,7.56,39.8,0.4880,17.8,3.0,7.765,193.0,0.0
190,21.5,377.68,0.0,0.09068,6.4798,3.44,5.10,37.0,0.4370,15.2,5.0,6.951,398.0,45.0
200,13.9,384.30,0.0,0.01778,7.6534,1.47,4.45,32.9,0.4030,17.0,3.0,7.135,402.0,95.0
210,92.1,393.25,1.0,0.17446,3.8771,10.59,17.27,21.7,0.4890,18.6,4.0,5.960,277.0,0.0
220,88.5,391.70,1.0,0.35809,2.8617,6.20,9.71,26.7,0.5070,17.4,8.0,6.951,307.0,0.0
230,68.1,378.35,0.0,0.53700,3.6715,6.20,11.65,24.3,0.5040,17.4,8.0,5.981,307.0,0.0
240,54.3,391.25,0.0,0.11329,6.3361,4.93,11.38,22.0,0.4280,16.6,6.0,6.897,300.0,30.0
250,13.0,396.28,0.0,0.14030,7.3967,5.86,5.90,24.4,0.4310,19.1,7.0,6.487,330.0,22.0
260,81.8,392.80,0.0,0.54011,2.1121,3.97,9.59,33.8,0.6470,13.0,5.0,7.203,264.0,20.0
270,42.1,388.65,0.0,0.29916,4.4290,6.96,13.00,21.1,0.4640,18.6,3.0,5.856,223.0,20.0
280,64.5,387.31,0.0,0.03578,4.6947,3.33,3.76,45.4,0.4429,14.9,5.0,7.820,216.0,20.0
290,27.9,396.90,0.0,0.03502,5.1167,4.95,3.33,28.5,0.4110,19.2,4.0,6.861,245.0,80.0
300,47.4,390.86,0.0,0.04417,7.8278,2.24,6.07,24.8,0.4000,14.8,5.0,6.871,358.0,70.0
310,37.8,350.45,0.0,2.63548,2.5194,9.90,12.64,16.1,0.5440,18.4,4.0,4.973,304.0,0.0
320,52.3,396.90,0.0,0.16760,4.5404,7.38,7.20,23.8,0.4930,19.6,5.0,6.426,287.0,0.0
330,32.2,368.57,0.0,0.04544,5.8736,3.24,9.09,19.8,0.4600,16.9,4.0,6.144,430.0,0.0
340,58.5,396.90,0.0,0.06151,4.8122,5.19,9.29,18.7,0.5150,20.2,5.0,5.968,224.0,0.0
350,44.4,396.90,0.0,0.06211,8.7921,1.25,5.98,22.9,0.4290,19.7,1.0,6.490,335.0,40.0
360,88.0,374.56,0.0,4.54192,2.5182,18.10,7.79,25.0,0.7700,20.2,24.0,6.398,666.0,0.0
370,97.5,392.05,1.0,6.53876,1.2024,18.10,2.96,50.0,0.6310,20.2,24.0,7.016,666.0,0.0
380,91.9,396.90,0.0,88.97620,1.4165,18.10,17.21,10.4,0.6710,20.2,24.0,6.968,666.0,0.0
390,97.0,394.43,0.0,6.96215,1.9265,18.10,17.11,15.1,0.7000,20.2,24.0,5.713,666.0,0.0
400,100.0,396.90,0.0,25.04610,1.5888,18.10,26.77,5.6,0.6930,20.2,24.0,5.987,666.0,0.0
410,100.0,2.60,0.0,51.13580,1.4130,18.10,10.11,15.0,0.5970,20.2,24.0,5.757,666.0,0.0
420,100.0,318.75,0.0,11.08740,1.8589,18.10,15.02,16.7,0.7180,20.2,24.0,6.411,666.0,0.0
430,86.1,83.45,0.0,8.49213,2.0527,18.10,17.64,14.5,0.5840,20.2,24.0,6.348,666.0,0.0
440,92.4,391.45,0.0,22.05110,1.8662,18.10,22.11,10.5,0.7400,20.2,24.0,5.818,666.0,0.0
450,92.6,0.32,0.0,6.71772,2.3236,18.10,17.44,13.4,0.7130,20.2,24.0,6.749,666.0,0.0
460,90.0,255.23,0.0,4.81213,2.5975,18.10,16.42,16.4,0.7130,20.2,24.0,6.701,666.0,0.0
470,84.0,396.90,0.0,4.34879,3.0334,18.10,16.29,19.9,0.5800,20.2,24.0,6.167,666.0,0.0
480,64.7,396.90,0.0,5.82401,3.4242,18.10,10.74,23.0,0.5320,20.2,24.0,6.242,666.0,0.0
490,98.0,318.43,0.0,0.20746,1.8226,27.74,29.68,8.1,0.6090,20.1,4.0,5.093,711.0,0.0
500,79.7,396.90,0.0,0.22438,2.4982,9.69,14.33,16.8,0.5850,19.2,6.0,6.027,391.0,0.0

In [114]:
L = pd.Series(range(15))
L

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

In [115]:
# since pandas.array is one-dimensional, you need to do np.array

L= np.array(L)
L

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14],
      dtype=int64)

In [116]:
import numpy as np

L.reshape(3,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]], dtype=int64)

In [117]:
df2= pd.read_csv(url, usecols=['age', 'crim'])
df2

        crim   age
0    0.00632  65.2
1    0.02731  78.9
2    0.02729  61.1
3    0.03237  45.8
4    0.06905  54.2
..       ...   ...
501  0.06263  69.1
502  0.04527  76.7
503  0.06076  91.0
504  0.10959  89.3
505  0.04741  80.8

[506 rows x 2 columns]

In [118]:
df= pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')
df.shape

(506, 14)

In [119]:
df.describe

<bound method NDFrame.describe of         crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat  medv
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90   5.33  36.2
..       ...     ...    ...   ...
501     21.0  391.99   9.67  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]>

In [120]:
df.dtypes

crim       float64
zn         float64
indus      float64
chas         int64
nox        float64
rm         float64
age        float64
dis        float64
rad          int64
tax          int64
ptratio    float64
b          float64
lstat      float64
medv       float64
dtype: object

In [121]:
df.dtypes.value_counts()

float64    11
int64       3
dtype: int64

In [122]:
# How to extract the row and column number of a particular cell with given criterion?

In [123]:
df[df['age']==100.0]

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5
23,0.98843,0.0,8.14,0,0.538,5.813,100.0,4.0952,4,307,21.0,394.54,19.88,14.5
31,1.35472,0.0,8.14,0,0.538,6.072,100.0,4.1750,4,307,21.0,376.73,13.04,14.5
141,1.62864,0.0,21.89,0,0.624,5.019,100.0,1.4394,4,437,21.2,396.90,34.41,14.4
142,3.32105,0.0,19.58,1,0.871,5.403,100.0,1.3216,5,403,14.7,396.90,26.82,13.4
143,4.09740,0.0,19.58,0,0.871,5.468,100.0,1.4118,5,403,14.7,396.90,26.42,15.6
145,2.37934,0.0,19.58,0,0.871,6.130,100.0,1.4191,5,403,14.7,172.91,27.80,13.8
146,2.15505,0.0,19.58,0,0.871,5.628,100.0,1.5166,5,403,14.7,169.27,16.65,15.6
151,1.49632,0.0,19.58,0,0.871,5.404,100.0,1.5916,5,403,14.7,341.60,13.28,19.6
158,1.34284,0.0,19.58,0,0.605,6.066,100.0,1.7573,5,403,14.7,353.89,6.43,24.3
159,1.42502,0.0,19.58,0,0.871,6.510,100.0,1.7659,5,403,14.7,364.31,7.39,23.3
209,0.43571,0.0,10.59,1,0.489,5.344,100.0,3.8750,4,277,18.6,396.90,23.09,20.0
258,0.66351,20.0,3.97,0,0.647,7.333,100.0,1.8946,5,264,13.0,383.29,7.79,36.0
259,0.65665,20.0,3.97,0,0.647,6.842,100.0,2.0107,5,264,13.0,391.93,6.90,30.1
367,13.52220,0.0,18.10,0,0.631,3.863,100.0,1.5106,24,666,20.2,131.42,13.33,23.1
368,4.89822,0.0,18.10,0,0.631,4.970,100.0,1.3325,24,666,20.2,375.52,3.26,50.0
371,9.23230,0.0,18.10,0,0.631,6.216,100.0,1.1691,24,666,20.2,366.15,9.53,50.0
373,11.10810,0.0,18.10,0,0.668,4.906,100.0,1.1742,24,666,20.2,396.90,34.77,13.8
374,18.49820,0.0,18.10,0,0.668,4.138,100.0,1.1370,24,666,20.2,396.90,37.97,13.8
379,17.86670,0.0,18.10,0,0.671,6.223,100.0,1.3861,24,666,20.2,393.74,21.78,10.2
382,9.18702,0.0,18.10,0,0.700,5.536,100.0,1.5804,24,666,20.2,396.90,23.60,11.3
383,7.99248,0.0,18.10,0,0.700,5.520,100.0,1.5331,24,666,20.2,396.90,24.56,12.3
386,24.39380,0.0,18.10,0,0.700,4.652,100.0,1.4672,24,666,20.2,396.90,28.28,10.5
388,14.33370,0.0,18.10,0,0.700,4.880,100.0,1.5895,24,666,20.2,372.92,30.62,10.2
398,38.35180,0.0,18.10,0,0.693,5.453,100.0,1.4896,24,666,20.2,396.90,30.59,5.0
400,25.04610,0.0,18.10,0,0.693,5.987,100.0,1.5888,24,666,20.2,396.90,26.77,5.6
401,14.23620,0.0,18.10,0,0.693,6.343,100.0,1.5741,24,666,20.2,396.90,20.32,7.2
402,9.59571,0.0,18.10,0,0.693,6.404,100.0,1.6390,24,666,20.2,376.11,20.31,12.1
405,67.92080,0.0,18.10,0,0.693,5.683,100.0,1.4254,24,666,20.2,384.97,22.98,5.0
406,20.71620,0.0,18.10,0,0.659,4.138,100.0,1.1781,24,666,20.2,370.22,23.34,11.9
407,11.95110,0.0,18.10,0,0.659,5.608,100.0,1.2852,24,666,20.2,332.09,12.13,27.9
409,14.43830,0.0,18.10,0,0.597,6.852,100.0,1.4655,24,666,20.2,179.36,19.78,27.5
410,51.13580,0.0,18.10,0,0.597,5.757,100.0,1.4130,24,666,20.2,2.60,10.11,15.0
411,14.05070,0.0,18.10,0,0.597,6.657,100.0,1.5275,24,666,20.2,35.05,21.22,17.2
412,18.81100,0.0,18.10,0,0.597,4.628,100.0,1.5539,24,666,20.2,28.79,34.37,17.9
413,28.65580,0.0,18.10,0,0.597,5.155,100.0,1.5894,24,666,20.2,210.97,20.08,16.3
414,45.74610,0.0,18.10,0,0.693,4.519,100.0,1.6582,24,666,20.2,88.27,36.98,7.0
415,18.08460,0.0,18.10,0,0.679,6.434,100.0,1.8347,24,666,20.2,27.25,29.05,7.2
418,73.53410,0.0,18.10,0,0.679,5.957,100.0,1.8026,24,666,20.2,16.45,20.62,8.8
420,11.08740,0.0,18.10,0,0.718,6.411,100.0,1.8589,24,666,20.2,318.75,15.02,16.7
437,15.17720,0.0,18.10,0,0.740,6.152,100.0,1.9142,24,666,20.2,9.32,26.45,8.7
442,5.66637,0.0,18.10,0,0.740,6.219,100.0,2.0048,24,666,20.2,395.69,16.59,18.4
443,9.96654,0.0,18.10,0,0.740,6.485,100.0,1.9784,24,666,20.2,386.73,18.85,15.4

In [124]:
a = df.age==100

df.loc[ a, ['age', 'crim', 'chas']]

       age      crim  chas
8    100.0   0.21124     0
23   100.0   0.98843     0
31   100.0   1.35472     0
141  100.0   1.62864     0
142  100.0   3.32105     1
143  100.0   4.09740     0
145  100.0   2.37934     0
146  100.0   2.15505     0
151  100.0   1.49632     0
158  100.0   1.34284     0
159  100.0   1.42502     0
209  100.0   0.43571     1
258  100.0   0.66351     0
259  100.0   0.65665     0
367  100.0  13.52220     0
368  100.0   4.89822     0
371  100.0   9.23230     0
373  100.0  11.10810     0
374  100.0  18.49820     0
379  100.0  17.86670     0
382  100.0   9.18702     0
383  100.0   7.99248     0
386  100.0  24.39380     0
388  100.0  14.33370     0
398  100.0  38.35180     0
400  100.0  25.04610     0
401  100.0  14.23620     0
402  100.0   9.59571     0
405  100.0  67.92080     0
406  100.0  20.71620     0
407  100.0  11.95110     0
409  100.0  14.43830     0
410  100.0  51.13580     0
411  100.0  14.05070     0
412  100.0  18.81100     0
413  100.0  28.65580     0
414  100.0  45.74610     0
415  100.0  18.08460     0
418  100.0  73.53410     0
420  100.0  11.08740     0
437  100.0  15.17720     0
442  100.0   5.66637     0
443  100.0   9.96654     0

In [125]:
df['age'].max

<bound method NDFrame._add_numeric_operations.<locals>.max of 0      65.2
1      78.9
2      61.1
3      45.8
4      54.2
       ...
501    69.1
502    76.7
503    91.0
504    89.3
505    80.8
Name: age, Length: 506, dtype: float64>

In [126]:
row, col= np.where( df.values== np.max(df.age))

In [127]:
df.iat[row[0],col[0]]

100.0

In [128]:
df.iloc[row[0], col[0]]

100.0

In [129]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.columns)

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [130]:
# rename columns Type -> Car Type

df.rename(columns={'Type': 'Car Type'})

,Manufacturer,Model,Car Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

In [131]:
# alternate way to change column name

df.columns.values[2]='Car Type'
df.columns

Index(['Manufacturer', 'Model', 'Car Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [132]:
# to only extract certain columns...... usecols=['column name']

pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=['Model', 'Manufacturer'])

   Manufacturer    Model
0         Acura  Integra
1           NaN   Legend
2          Audi       90
3          Audi      100
4           BMW     535i
..          ...      ...
88   Volkswagen  Eurovan
89   Volkswagen   Passat
90   Volkswagen  Corrado
91        Volvo      240
92          NaN      850

[93 rows x 2 columns]

In [133]:
# replace the ‘.’ in column names with ‘_’.

# df.columns.str.replace()

df.columns= df.columns.str.replace('.', '_')
df.columns

<ipython-input-133-f57d1047ec8b>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df.columns= df.columns.str.replace('.', '_')

Index(['Manufacturer', 'Model', 'Car Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [134]:
# alternate way to code...

df.columns= df.columns.map( lambda x: x.replace('.', '_'))
df.columns

Index(['Manufacturer', 'Model', 'Car Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [135]:
# Check if df has any missing values.

df.isnull().values.any()

True

In [136]:

df.isnull().sum()

Manufacturer           4
Model                  1
Car Type               3
Min_Price              7
Price                  2
Max_Price              5
MPG_city               9
MPG_highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev_per_mile           6
Man_trans_avail        5
Fuel_tank_capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn_circle            5
Rear_seat_room         4
Luggage_room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

In [137]:
# df.fillna() to fill missing values

df['Min_Price']= df['Min_Price'].fillna(df['Min_Price'].mean())

In [138]:
df['Min_Price'].isnull().any()

False

In [139]:
d={'Min_Price': np.nanmean, 'Max_Price': np.nanmedian}

df[['Min_Price', 'Max_Price']]= df[['Min_Price', 'Max_Price']].apply( lambda x, d: x.fillna( d[x.name](x)), args=(d, ))

In [140]:
df['Max_Price'].isnull().any()

False

In [141]:
# how to convert series to dataframe

df['Model'].to_frame()

      Model
0   Integra
1    Legend
2        90
3       100
4      535i
..      ...
88  Eurovan
89   Passat
90  Corrado
91      240
92      850

[93 rows x 1 columns]

In [142]:
# Get the first column (a) in df as a dataframe (rather than as a Series).

In [143]:
df3= pd.DataFrame( np.arange(20).reshape(-1, 5), columns=list('abcde'))
df3

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [144]:
type( df3[['a']])

pandas.core.frame.DataFrame

In [145]:
# how to convert back to series

type( df3.a)

pandas.core.series.Series

In [146]:
df3[list('cbade')]

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [147]:
df3[['c', 'b', 'd', 'a', 'e']]

    c   b   d   a   e
0   2   1   3   0   4
1   7   6   8   5   9
2  12  11  13  10  14
3  17  16  18  15  19

In [148]:
df3[sorted(df3.columns)]

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [149]:
# how to sort column names in reverse order?

list1= list(df3.columns)
list1

['a', 'b', 'c', 'd', 'e']

In [150]:
# how to reverse...

# list(reversed( list name))

list(reversed(list1))

['e', 'd', 'c', 'b', 'a']

In [151]:
# another way to reverse...

# listname [::-1]

reversed_list= list1[::-1]
reversed_list

['e', 'd', 'c', 'b', 'a']

In [152]:
# Change the pamdas display settings on printing the dataframe df it shows a maximum of 10 rows and 10 columns.

In [153]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
df

,Manufacturer,Model,Car Type,Min_Price,Price,...,Rear_seat_room,Luggage_room,Weight,Origin,Make
0,Acura,Integra,Small,12.900000,15.9,...,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.200000,33.9,...,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.900000,29.1,...,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,17.118605,37.7,...,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,17.118605,30.0,...,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.600000,19.7,...,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.600000,20.0,...,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.900000,23.3,...,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.800000,22.7,...,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.800000,26.7,...,30.0,15.0,3245.0,non-USA,Volvo 850

In [154]:
# Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.

df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
df

         random
0  2.268806e-03
1  1.442543e-03
2  1.231066e-04
3  3.472432e-07

In [155]:
df['random']= round(df['random'], 4)
df

   random
0  0.0023
1  0.0014
2  0.0001
3  0.0000

In [156]:
# easiest way is to do df.round()

df.round(4)

   random
0  0.0023
1  0.0014
2  0.0001
3  0.0000

In [157]:
# Format the values in column 'random' of df as percentages.

df = pd.DataFrame(np.random.random(4), columns=['random'])
df

     random
0  0.044781
1  0.978984
2  0.878015
3  0.198216

In [158]:
df.round(4)*100

   random
0    4.48
1   97.90
2   87.80
3   19.82

In [159]:
df= df.style.format({'random': '{0:.2%}'.format})
df

In [160]:
# How to filter every nth row in a dataframe?

In [161]:
# using chunksize in df

# using usecols in pd.read_csv()

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=['Manufacturer', 'Model', 'Type'], chunksize=20)

df2= pd.DataFrame()

for chunk in df:
    df2= df2.append(chunk.iloc[0, :])

df2

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

In [162]:
# alternate way

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.iloc[::20][['Manufacturer', 'Model', 'Type']]

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

In [163]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])
df

   Manufacturer    Model     Type  Min.Price  Max.Price
0         Acura  Integra    Small       12.9       18.8
1           NaN   Legend  Midsize       29.2       38.7
2          Audi       90  Compact       25.9       32.3
3          Audi      100  Midsize        NaN       44.6
4           BMW     535i  Midsize        NaN        NaN
..          ...      ...      ...        ...        ...
88   Volkswagen  Eurovan      Van       16.6       22.7
89   Volkswagen   Passat  Compact       17.6       22.4
90   Volkswagen  Corrado   Sporty       22.9       23.7
91        Volvo      240  Compact       21.8       23.5
92          NaN      850  Midsize       24.8       28.5

[93 rows x 5 columns]

In [164]:
df['Model'].isnull().value_counts()

False    92
True      1
Name: Model, dtype: int64

In [165]:
df[['Manufacturer', 'Model', 'Type']]= df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df

   Manufacturer    Model     Type  Min.Price  Max.Price
0         Acura  Integra    Small       12.9       18.8
1       missing   Legend  Midsize       29.2       38.7
2          Audi       90  Compact       25.9       32.3
3          Audi      100  Midsize        NaN       44.6
4           BMW     535i  Midsize        NaN        NaN
..          ...      ...      ...        ...        ...
88   Volkswagen  Eurovan      Van       16.6       22.7
89   Volkswagen   Passat  Compact       17.6       22.4
90   Volkswagen  Corrado   Sporty       22.9       23.7
91        Volvo      240  Compact       21.8       23.5
92      missing      850  Midsize       24.8       28.5

[93 rows x 5 columns]

In [166]:
# having a primary key

df.index= df.Manufacturer+'/ '+df.Model+'/ '+df.Type

In [167]:
df

,Manufacturer,Model,Type,Min.Price,Max.Price
Acura/ Integra/ Small,Acura,Integra,Small,12.9,18.8
missing/ Legend/ Midsize,missing,Legend,Midsize,29.2,38.7
Audi/ 90/ Compact,Audi,90,Compact,25.9,32.3
Audi/ 100/ Midsize,Audi,100,Midsize,NaN,44.6
BMW/ 535i/ Midsize,BMW,535i,Midsize,NaN,NaN
...,...,...,...,...,...
Volkswagen/ Eurovan/ Van,Volkswagen,Eurovan,Van,16.6,22.7
Volkswagen/ Passat/ Compact,Volkswagen,Passat,Compact,17.6,22.4
Volkswagen/ Corrado/ Sporty,Volkswagen,Corrado,Sporty,22.9,23.7
Volvo/ 240/ Compact,Volvo,240,Compact,21.8,23.5
missing/ 850/ Midsize,missing,850,Midsize,24.8,28.5

In [168]:
# you can see there is no more NA value in the columns

df['Model'].isnull().value_counts()

False    93
Name: Model, dtype: int64

In [169]:
df= pd.DataFrame(np.random.randint(1,30,30).reshape(10,-1), columns=list('abc'))
df
n=5

In [170]:
df

    a   b   c
0  24  14   2
1  11  19  20
2  26  12  28
3   4  28  28
4  25   3  20
5   4   8  19
6  11  26   7
7   4  15  17
8   9   9  17
9   2  25  21

In [171]:
df['a'].argsort()[::-1][n]

1

In [172]:
ser= pd.Series(np.random.randint(1,100, 15))
ser

0     68
1     53
2     14
3     34
4     41
      ..
10    24
11    63
12    10
13    80
14    60
Length: 15, dtype: int32

In [173]:
ser.mean()

50.4

In [176]:
print('ser: ', ser.tolist(), 'mean: ', round(ser.mean()))
np.argwhere(ser > ser.mean())[1]

ser:  [68, 53, 14, 34, 41, 18, 84, 58, 99, 50, 24, 63, 10, 80, 60] mean:  50

ValueError: Length of passed values is 1, index implies 15.